/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */
body {
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* columns  */
.col {
    float: left;
}
.col-30 {
    width: 30%;
}
/* margin class for central column in a row of three columns with 30% width each one  */
.col-margin {
    margin: 0 5%;
}
.col-50 {
    width: 50%;
}
.col-70 {
    width: 70%;
}
/* buttons */
.btn {
    display: inline-block;
    text-decoration: none;
}
.btn-small {
    padding: 6px 16px;
    line-height: normal;
    font-size: 15px;
}
.btn-large {
    padding: 8px 16px;
}
.btn-blue {
    background-color: #0061ff;
    color: #ffffff;
}
.btn-white {
    
    background-color: #ffffff;
    color: #000000;
}
/* buttons effects  */
.btn-blue-trans {
    transition: background-color 1s;
}
.btn-blue-trans:hover {
    background-color: #3c84ff;
}
.btn-white-trans {
    transition: background-color 1s;
}
.btn-white-trans:hover {
    background-color: #d0d0d3;
}
/* text  */
.black-text {
    color: #000000;
}
.text-small {
    font-size: 14px;
}
/* background colors  */
.back-lightblue {
    background-color: #b4d0e7;
}
/* images  */
img {
    width: 100%;
}
/* lists  */
ul {
    list-style-type: none;
}
/* HEADER  */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    height: 80px;
    z-index: 2;
}
/* NAV  */
header > nav {
    line-height: 78px;
}
.top-menu li {
    display: inline-block;
    margin: 0 20px;
}
.top-menu a {
    text-decoration: none;
    display: inline-block;   
}
.top-menu a.black-text:hover {
    border-bottom: 2px solid #000000;
}
.top-menu-left .logo {
    vertical-align: text-bottom;
}
.top-menu-right {
    text-align: right;
}
/* MAIN  */
.jumbotron {
    margin: 80px 0;
}
.jumbo-content {
    width: 75%;
    margin: auto;
    padding-top: 100px;  
}
.jumbo-content .title > h1 {
    font-size: 80px ;
}

/* jumbo content cols   */
.jumbo-content .clearfix {
    margin-top: 35px;
}

/* jumbo cta col */
.jumbo-cta {
    width: 35%; 
}
.jumbo-cta .cta-text {
    padding: 0 101px 25px 0;

}
.jumbo-cta span.cancel {
    display: inline-block;
    font-size: 14px;
    margin: 10px 0 40px 0;
}
.jumbo-cta .go-down > i {
    font-size: 40px;
}

/* jumbo image col  */
.jumbo-img {
    width: 65%;
}
.jumbo-img .box-img {
    padding: 220px;
    position: relative;
}
.jumbo-img .box-img > img {
    position: absolute;
    top: 0;
    left: 0;
}

/* SECTION  */

/* section 1  */
/* container section  */
.special-section {
    padding: 140px 0 70px 0;
}
section {
    padding: 70px 0;
}
.container-section {
    width: 60%;
    margin: auto;
}
.container-offer {
    width: 80%;
    margin: auto;
    padding-bottom: 150px;
}
/* content section  */
.container-offer .btn {
    width: 100%;
    text-align: center;
}
.section-title {
    margin-bottom: 40px;
}
.section-title h2 {
    font-size: 40px;
}
.pay-method .rounded {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
}
.pay-method .rounded.checked {
    border: 4px solid #0061ff;
}
.pay-method .rounded.unchecked {
    border: 1px solid #d0d0d3;
    margin-left: 15px;
}

/* columns plans  */

.plans-box {
    margin-top: 30px;
}
.clearfix .col-plans {
    width: 30%;
    min-height: 950px;
    border: 1px solid #d0d0d3;
}

/* top col plan  */

.col-plans .plan-type,
.sales-office .plan-type {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}
.offer-type .title > h3 {
    font-size: 26px;
    margin: 20px 0 10px 0;
}
.offer-type .offer-price span {
    display: block;
    margin-bottom: 10px;
}
.offer-price .price {
    font-weight: bold;
}
.offer-price .rate {
    color: #697986;
}
.offer-type .list-offer {
    margin: 40px 0;
}
.list-offer li {
    margin-bottom: 20px;
    padding-left: 20px;
}
.list-offer li > span {
    margin-left: -20px;
}
/* middle col plan  */

.col-plans .plan-cta::after {
    display: block;
    content: "";
    width: 55px;
    height: 1px;
    background-color: #d0d0d3;
    margin: 30px 0 40px 0;

}
.plan-cta span {
    display: block;
    margin-top: 20px;
}
.plan-cta a {
    text-decoration-color: #a2c5ff;
}
a.unvisited:link, a.unvisited:visited {
    color: #0061ff;
}

/* bottom col plan */

.highlights .highlights-menu li {
    margin: 20px 0;
    padding-left: 20px;
}
.highlights .highlights-menu li > span {
    margin-left: -20px;
}
.highlights .highlights-menu i {
    color: #0061ff;
}

/* bottom row section 1 plan  */
.container-section .sales-office {
    margin-top: 45px;
    border: 1px solid #d0d0d3;
}
.sales-office .sales-office-content {
    padding: 30px;
} 
.sales-office .title > h3 {
    font-size: 26px;
}
.sales-office .title > h4 {
    margin: 10px 0 25px 0;
}
.sales-office .btn {
    width: 100%;
    text-align: center;
}

/* section 2  */

.cta-partner .cta-text {
    padding: 40px 0 0 40px; 
}
.cta-partner .cta-link > a {
    border: 1px solid #000000;
}
.cta-partner .cta-text .title {
    width: 90%;
}
.cta-partner .cta-text .title > h3 {
    font-size: 26px;
}
.cta-partner .cta-text .title > p {
    margin: 20px 0;
}

/* section 3  */

.operations {
    padding: 40px 0;
}
.operations .col-30 .box-image {
    height: 250px;
}
.box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.operations .title > h3 {
    font-size: 26px;
    margin: 20px 0;
}
.operations .title p > a {
    text-decoration-color: #808080;
    text-decoration-thickness: 2px;
}

/* section 4  */
.bordering-edges {
    padding-bottom: 0;
}
.section-title.half {
    width: 50%;
}
.cta-link-1 {
    padding-bottom: 40px;
}

/* partners table  */
/* logo table  */

.logo-table .col.logo-partner {
    width: 250px;
    height: 250px;
    position: relative;
}
.logo-partner img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);  
}

/* background color and effects for single customer  */
.customer-designit {
    background-color: #a2d39b;
    border: 10px solid rgba(255, 255, 255, 0.5);
}
.customer-arizona {
    background-color: #61082b;
}
.customer-florida {
    background-color: #0093ce;
}
.customer-topps {
    background-color: #ff1c1c;
}
.customer-bicycle {
    background-color: #d5001f;
}
.customer-hearts {
    background-color: #b4d0e7;
}
.customer-lonely {
    background-color: #0d2481;
}
.customer-clear {
    background-color: #ffd830;
}
/* end background and effects selector */

/* partners text  */
.partners-table .col.partners-text {
    width: calc(100% - 1000px);
    height: 500px;
    padding: 50px;
    background-color: #f5f5f5; 
}
.partners-text .logo > img {
    width: 20%;
}
.partners-text .logo::after {
    display: block;
    content: "";
    width: 55px;
    height: 1px;
    background-color: #d0d0d3;
    margin: 30px 0 50px 0;
}
.partners-text .description > p {
    margin-bottom: 50px;
}

/* section 5  */

.business-cta {
    padding: 30px 0;
}
.business-cta .section-title {
    margin-bottom: 0;
}
.business-cta .section-title > h2 {
    color: #61082b;
    width: 72%;
}
.business-cta .cta-link-2 {
    text-align: right;
}
.business-cta .cta-link-2 a {
    width: 90%;
    text-align: center;
}

/* section 6  */
.faq.section-title {
    margin: 40px 0;
}
.faq.section-title > h4 {
    font-size: 30px;
}
.faq-row {
    line-height: 80px;
    border-bottom: 1px solid #d0d0d3;
}
.faq-row.border-top {
    border-top: 1px solid #d0d0d3;
}
.faq-row .col.question {
    width: 95%;
    font-weight: 600;
}
.faq-row .col.menu-icon {
    width: 5%;
    text-align: center;
}
.faq-row .col.menu-icon > i {
    cursor: pointer;
}

/* FOOTER  */
footer {
    background-color: #000000;
    padding: 70px 0;
    margin-top: 40px;
}
.footer-container {
    width: 72%;
    margin: auto;
}
.footer-menu .col {
    width: calc(100% / 5)
}
.footer-menu {
    color: #ffffff;
}
.footer-menu  h5 {
    font-size: 20px;
}
.footer-menu ul {
    margin: 20px 0;
}
.footer-menu li {
    line-height: 30px;
}
.footer-menu li > a {
    text-decoration: none;
    color: #ffffff;
}
.languages::before {
    display: block;
    content: "";
    width: 100px;
    height: 1px;
    background-color: #d0d0d3;
    margin: 50px 0 30px 0;
}
.languages {
    color: #999999;
    vertical-align: middle;
}
.languages span.xs {
    font-size: 13px;
    display: inline-block;
}