/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */
body {
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* columns  */
.col {
    float: left;
}
.col-50 {
    width: 50%;
}
/* buttons REMEMBER ADD HOVER TO BUTTONS grey */
.btn {
    display: inline-block;
    text-decoration: none;
}
.btn-small {
    padding: 6px 16px;
    line-height: normal;
    font-size: 15px;
}
.btn-large {
    padding: 8px 16px;
}
.btn-blue {
    background-color: #0061ff;
    color: #ffffff;
}
/* buttons effects  */
.btn-blue-trans {
    transition: background-color 1s;
}
.btn-blue-trans:hover {
    background-color: #3c84ff;
}
/* text  */
.black-text {
    color: #000000;
}
/* images  */
img {
    width: 100%;
}
/* HEADER  */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    height: 80px;
}
/* NAV  */
nav {
    line-height: 80px;
}
.top-menu li {
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;
}
.top-menu a {
    text-decoration: none;
    display: inline-block;   
}
.top-menu a.black-text:hover {
    border-bottom: 2px solid #000000;
}
.top-menu-left .logo {
    vertical-align: text-bottom;
}
.top-menu-right {
    text-align: right;
}
/* MAIN  */
.jumbotron {
    margin: 80px 0;
    background-color: #b4d0e7;
}
.jumbo-content {
    width: 75%;
    margin: auto;
    padding-top: 100px;  
    /* test  */
    /* background-color: tomato; */
}
.jumbo-content .title > h1 {
    font-size: 80px ;
}
/* jumbo content cols   */
.jumbo-content .clearfix {
    margin-top: 35px;

    /* test  */
    height: 440px;
}
/* jumbo cta col */
.jumbo-cta {
    width: 35%;

    /* test  */
    /* background-color: violet; */  
}
.jumbo-cta .cta-text {
    padding: 0 101px 25px 0;

}
.jumbo-cta span.cancel {
    display: inline-block;
    font-size: 14px;
    margin: 10px 0 40px 0;
}
.jumbo-cta .go-down > i {
    font-size: 40px;
}
/* jumbo image col  */
.jumbo-img {
    width: 65%;

    /* test  */
    max-height: 100%;
    overflow: visible;
    /* background-color: wheat; */
}
.jumbo-img img {
    
    /* test  */

}
/* end jumbo cols  */

/* SECTION  */
/* section 1  */
.special-section {
    padding: 140px 0 70px 0;
}
section {

    /* test  */
    padding: 70px 0;
}
.container-section {

    /* test  */
    width: 60%;
    margin: auto;
    background-color: yellowgreen;
    /* height: 500px; */
}
.section-title h2 {

    /* test  */
    font-size: 40px;
    background-color: wheat;
    border: 1px solid black;
    margin-bottom: 40px;
    /* margin-top: 20px; */
}
.clearfix .col.border-test {

    /* test  */
    width: 30%;
    background-color: darkcyan;
    height: 600px;
    border: 1px solid red;
}
.bigger-test {
    
    /* test  */
    margin: 0 5%;
}
.test-enterprise {

    /* test  */
    background-color: darkgrey;
    height: 100px;
    margin-top: 45px;
}

/* section 2  */
.col.partners-test {
    
    /* test  */
    width: 50%;
    background-color: darkolivegreen;
    height: 300px ;
    border: 1px solid blue ;
}

/* section 3  */
.row-cols-business {

    /* test  */
    padding: 40px 0;
}
.col.business-test {

    /* test  */
    width: calc(100% / 3);
    background-color: brown;
    height: 200px;
    border: 1px solid black;
}

/* section 4  */
.link-test {

    /* test  */
    padding-bottom: 40px;
}
.logo-table {

    /* test  */
    /* children w/out height collapse */
    /* height: 400px;       */
}
.logo-table .col.partners-logo {

    /* test  */
    width: 30%;
    background-color: chocolate;
    

}
.logo-table .col.partners-text {

    /* test  */
    width: 40%;
    background-color: darkgoldenrod;
    height: 400px;
}

/* TEST FLOAT IN SECTION 4 LOGO TABLE  */
.logo-test {

    height: 200px;
    width: 50%;
    border: 1px solid black;
}
.logo-test,
.two-row-test {
    color: white;
}
/* row test  */
.first-row {
    /* height: 200px; */
}
.two-row-test {
    height: 200px;
    width: 50%;
    background-color: darkgreen;
    border: 1px solid black;
}
.second-row-test .two-row-test {
    height: 200px;
    height: 50%;
    background-color: darkkhaki;
    border: 1px solid black;
}
/* END TEST SECTION 4-------------------  */

/* section 5  */
.bordering-edges {
    padding-bottom: 0;
}
.back-lightblue {
    background-color: #b4d0e7;
    padding-top: 0;
}

/* FOOTER  */
footer {
    background-color: #000000;

    /* test  */
    height: 400px;
}
.footer-container {
    width: 72%;
    margin: auto;

    /* test  */
    color: white;
}
 /* test  */
 .footer-container * {
     border: 1px solid white;
 }