/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */
body {
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* columns  */
.col {
    float: left;
}
.col-30 {
    width: 30%;
}
.col-50 {
    width: 50%;
}
.col-70 {
    width: 70%;
}
/* buttons REMEMBER ADD HOVER TO BUTTONS grey */
.btn {
    display: inline-block;
    text-decoration: none;
}
.btn-small {
    padding: 6px 16px;
    line-height: normal;
    font-size: 15px;
}
.btn-large {
    padding: 8px 16px;
}
.btn-blue {
    background-color: #0061ff;
    color: #ffffff;
}
.btn-white {
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
}
/* buttons effects  */
.btn-blue-trans {
    transition: background-color 1s;
}
.btn-blue-trans:hover {
    background-color: #3c84ff;
}
.btn-white-trans {
    transition: background-color 1s;
}
.btn-white-trans:hover {
    background-color: #d0d0d3;
}
/* text  */
.black-text {
    color: #000000;
}
.text-small {
    font-size: 14px;
}
/* images  */
img {
    width: 100%;
}
/* lists  */
ul {
    list-style-type: none;
}
/* HEADER  */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    height: 80px;
}
/* NAV  */
nav {
    line-height: 80px;
}
.top-menu li {
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;
}
.top-menu a {
    text-decoration: none;
    display: inline-block;   
}
.top-menu a.black-text:hover {
    border-bottom: 2px solid #000000;
}
.top-menu-left .logo {
    vertical-align: text-bottom;
}
.top-menu-right {
    text-align: right;
}
/* MAIN  */
.jumbotron {
    margin: 80px 0;
    background-color: #b4d0e7;
}
.jumbo-content {
    width: 75%;
    margin: auto;
    padding-top: 100px;  
    /* test  */
    /* background-color: tomato; */
}
.jumbo-content .title > h1 {
    font-size: 80px ;
}

/* jumbo content cols   */
.jumbo-content .clearfix {
    margin-top: 35px;

    /* test  */
    height: 440px;
}

/* jumbo cta col */
.jumbo-cta {
    width: 35%;

    /* test  */
    /* background-color: violet; */  
}
.jumbo-cta .cta-text {
    padding: 0 101px 25px 0;

}
.jumbo-cta span.cancel {
    display: inline-block;
    font-size: 14px;
    margin: 10px 0 40px 0;
}
.jumbo-cta .go-down > i {
    font-size: 40px;
}

/* jumbo image col  */
.jumbo-img {
    width: 65%;

    /* test  */
    /* max-height: 100%; */
    /* overflow: visible; */
    /* background-color: wheat; */
}
.jumbo-img .test {
    /* test  */
    overflow: visible;
}
.jumbo-img img {
    
    /* test  */

}

/* SECTION  */

/* section 1  */

.special-section {
    padding: 140px 0 70px 0;
}
section {

    /* test  */
    padding: 70px 0;
}
.container-section {
    width: 60%;
    margin: auto;
    /* test  */
    
    /* background-color: yellowgreen; */
    /* height: 500px; */
}
.container-offer {
    width: 80%;
    margin: auto;
    padding-bottom: 150px;
    /* test  */
    /* background-color: aquamarine; */
}

.container-offer .btn {
    width: 100%;
    text-align: center;
}
.section-title h2 {
    font-size: 40px;
    margin-bottom: 40px;
    /* test  */
    
    /* background-color: wheat; */
    /* border: 1px solid black; */
    
    /* margin-top: 20px; */
}
.pay-method input[type=checkbox] {
    width: 20px;
    height: 20px;
}

/* columns plans  */

.plans-box {
    margin-top: 30px;
}
.clearfix .col-plans {
    width: 30%;
    border: 1px solid #d0d0d3;
    /* test  */
    /* background-color: darkcyan; */
    /* height: 600px; */  
}
.clearfix .col.col-margin {
    margin: 0 5%;
}

/* top col plan  */

.col-plans .plan-type,
.sales-office .plan-type {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}
.offer-type .title > h3 {
    font-size: 26px;
    margin: 20px 0 10px 0;
}
.offer-type .offer-price span {
    display: block;
    margin-bottom: 10px;
}
.offer-price .price {
    font-weight: bold;
}
.offer-price .rate {
    color: #697986;
}
.offer-type .list-offer {
    margin: 40px 0;
}
.list-offer li {
    margin-bottom: 20px;
}
/* middle col plan  */

.col-plans .plan-cta::after {
    display: block;
    content: "";
    width: 55px;
    height: 1px;
    background-color: #d0d0d3;
    margin: 30px 0 40px 0;

}
.plan-cta span {
    display: block;
    margin-top: 20px;
}
a.unvisited:link, a.unvisited:visited {
    color: #0061ff;
}

/* bottom col plan */

.highlights .highlights-menu li {
    margin: 20px 0;
}
.highlights .highlights-menu i {
    color: #0061ff;
}
.highlights .highlights-menu.less-1-item li:last-child {
    margin-bottom: 59px;

    /* test  */
    /* background-color: black; */
    /* NOTE (work with actual font-size): first multiplication is for number of line in one li, second multiplication is for number of missing li */
    /* margin-bottom: calc(20px + ((19px * 1) + 20px) * 1); */
}

/* bottom row section 1 plan  */
.container-section .sales-office {
    margin-top: 45px;
    border: 1px solid #d0d0d3;
    /* test  */
    /* background-color: darkgrey; */
}
.sales-office .clearfix {
    padding: 30px;
} 
.sales-office .title > h3 {
    font-size: 26px;
}
.sales-office .title > h4 {
    margin: 10px 0 25px 0;
}
.sales-office .btn {
    width: 100%;
    text-align: center;
}

/* section 2  */

.cta-partner .cta-text {
    padding: 40px 0 0 40px;
}
.cta-text .title > h3 {
    font-size: 26px;
}
.cta-text .title > p {
    margin: 20px 0;
}

/* section 3  */
.row-cols-business {

    /* test  */
    padding: 40px 0;
}
.col.business-test {

    /* test  */
    width: calc(100% / 3);
    background-color: brown;
    height: 200px;
    border: 1px solid black;
}

/* section 4  */
.link-test {

    /* test  */
    padding-bottom: 40px;
}
.logo-table {

    /* test  */
    /* children w/out height collapse */
    /* height: 400px;       */
}
.logo-table .col.partners-logo {

    /* test  */
    width: 30%;
    background-color: chocolate;
    

}
.logo-table .col.partners-text {

    /* test  */
    width: 40%;
    background-color: darkgoldenrod;
    height: 400px;
}

/* TEST FLOAT IN SECTION 4 LOGO TABLE  */
.logo-test {

    height: 200px;
    width: 50%;
    border: 1px solid black;
}
.logo-test,
.two-row-test {
    color: white;
}
/* row test  */
.first-row {
    /* height: 200px; */
}
.two-row-test {
    height: 200px;
    width: 50%;
    background-color: darkgreen;
    border: 1px solid black;
}
.second-row-test .two-row-test {
    height: 200px;
    height: 50%;
    background-color: darkkhaki;
    border: 1px solid black;
}
/* END TEST SECTION 4-------------------  */

/* section 5  */
.bordering-edges {
    padding-bottom: 0;
}
.back-lightblue {
    background-color: #b4d0e7;
    padding-top: 0;
}

/* FOOTER  */
footer {
    background-color: #000000;

    /* test  */
    height: 400px;
}
.footer-container {
    width: 72%;
    margin: auto;

    /* test  */
    color: white;
}
 /* test  */
 .footer-container * {
     border: 1px solid white;
 }